.header {
    /* grid child styles */
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    /* grid parent styles */
    display: grid;
    grid-template-rows: 1fr 1fr;

    /* text styles */
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: rgb(255,255,255);

}

.row1 {
    /* grid parent styles */
    display: grid;
                    /* search, input, bell, pfp, name */
    grid-template-columns: 1fr 8fr 1fr 1fr 4fr;
    justify-items: right; /* horizontal */
    align-items: center; /* vertical */
    column-gap: 2rem;
    padding: 2rem;

}

.row1 input {
    height: 3rem;
    width: 50rem;
    background-color: rgb(226,232,240);
    border-radius: 50px;
    border: none;
}

.row1 .profile-picture {
    border-radius: 50%;
}

.row1 p {
    justify-self: left;
}