.header {
    /* grid child styles */
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    /* grid parent styles */
    display: grid;
    grid-template-rows: 1fr 1fr;

    /* text styles */
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: rgb(255,255,255);

}

/* ROW 1 STYLES */

.row1 {
    /* grid parent styles */
    display: grid;
                    /* search, input, bell, pfp, name */
    grid-template-columns: 1fr 8fr 1fr 1fr 4fr;
    justify-items: right; /* horizontal */
    align-items: center; /* vertical */
    column-gap: 2rem;
    padding-top: 1rem;
}

.row1 input {
    height: 3rem;
    width: 50rem;
    background-color: rgb(226,232,240);
    border-radius: 50px;
    border: none;
}

.row1 .profile-picture {
    border-radius: 50%;
}

.row1 p {
    justify-self: left;
}

.row1 > *, .row2 > * {
    cursor: pointer;
}

.row1 input {
    cursor: auto;
}

/* ROW 2 STYLES */
.row2 {
    /* grid parent styles */
    display: grid;
    grid-template-columns: 2fr 10fr 2fr 2fr 3fr;
    justify-items: left; /* horizontal */
    align-items: center; /* vertical */
    column-gap: 2rem;
    padding-bottom: 1rem;
}

.row2 .profile-picture {
    justify-self: right;
    border-radius: 50%;
}

.row2 .welcome-msg p:first-of-type {
    font-size: 1.5rem;
}

.row2 button {
    background-color: #1992d4;
    border-radius: 30px;
    width: 10rem;
    height: 4rem;
    border: none;
    font: inherit;
    color: white;
    font-size: 1.75rem;
    text-align: center;

    justify-self: center;
}

.row2 button:last-of-type {
    justify-self: left;
}

.row2 .welcome-msg{
    cursor: pointer;
}

