.sidebar {
    background-color: #1992d4;
    grid-row: 1 / span 2;
    /* height: 100vh; */
    /* justify content stretch? */

    /* text styles */
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}